<div *ngIf="popis" class="card-detail-text">
  <ng-container *ngIf="uznesenie.type === 'najom'">
    <!--
        <div><strong>Predmet: </strong>{{uznesenie.predmet}}</div>
        <div><strong>Adresa: </strong>{{uznesenie.adresa}} {{uznesenie.adresaCislo}}</div>
        <div><strong>Výmera: </strong>{{uznesenie.vymera}}m2</div>
        <div><strong>Nájomca: </strong>{{uznesenie.najomca}} (IČO:{{uznesenie.ico}})</div>
        <div><strong>Od: </strong>{{uznesenie.od}}<strong> Do: </strong>{{uznesenie.do}}</div>
        <div><strong>Cena: </strong>{{uznesenie.cena}}&euro;/{{uznesenie.cenaZa}}</div>
        -->
  </ng-container>

  <ng-container *ngIf="uznesenie.type === 'ine' || uznesenie.type === 'peticia'">
    <div>{{uznesenie.title}}</div>
  </ng-container>

</div>

<div *ngIf="predkladatel && uznesenie.creatorIds && uznesenie.creatorIds.length" class="card-detail-item">
  <i class="fas fa-user-tie fa-2x"></i>
  <div><strong>predkladatel</strong></div>
  <div>
    <app-poslanec-clickable *ngFor="let p of uznesenie.creatorIds" [poslanecId]="p"></app-poslanec-clickable>
  </div>
</div>

<div *ngIf="vote && (uznesenie.voteYesIds.length || uznesenie.voteNoIds.length)" class="card-detail-item">
  <i class="fas fa-thumbs-up fa-2x"></i>
  <div>
    <div *ngIf="uznesenie.voteYesIds.length" class="card-detail-item-za">
      <div><strong>za</strong></div>
      <div>
        <app-poslanec-clickable *ngFor="let p of uznesenie.voteYesIds" [poslanecId]="p"></app-poslanec-clickable>
      </div>
    </div>
    <div *ngIf="uznesenie.voteNoIds.length" class="card-detail-item-proti">
      <div><strong>proti</strong></div>
      <div>
        <app-poslanec-clickable *ngFor="let p of uznesenie.voteNoIds" [poslanecId]="p"></app-poslanec-clickable>
      </div>
    </div>
  </div>
</div>

<div *ngIf="sumar">
  <div class="card-detail-item" *ngFor="let v of uznesenie.results">
    <i class="fas {{getClass(v.title)}} fa-2x"></i>
    <div><strong>{{v.title}}</strong></div>
    <div>
      <div *ngFor="let p of v.descriptions">{{p}}</div>
    </div>
  </div>
</div>

<div *ngIf="footer" class="card-detail-footer">
  <app-linkable section="uznesenia" [id]="uznesenie.id" [text]="'uznesenie č. ' + uznesenie.number"></app-linkable>
  <app-external-link [href]="uznesenie.source"></app-external-link>
</div>
