<app-menu></app-menu>
<div class="content">

  <div class="tabs">
  <div *ngFor="let y of years" class="tab" (click)="activeYear = y" [class.active]="activeYear == y">
    {{y}}
  </div>
</div>

  <app-tabs #tabs>

    <app-tab [parent]="tabs" tabTitle="Kapitalove vydavky">
      <ng-container *ngFor="let r of rozpocet[activeYear]">
        <app-budget [budget]="r"></app-budget>
      </ng-container>
    </app-tab>

    <app-tab [parent]="tabs" tabTitle="Projekty">
      <ng-container *ngFor="let p of projects[activeYear]">
        <app-project [project]="p"></app-project>
      </ng-container>
    </app-tab>

    <app-tab [parent]="tabs" tabTitle="Granty">
      <ng-container *ngFor="let g of grants[activeYear]">
        <app-project [project]="g"></app-project>
      </ng-container>
    </app-tab>

  </app-tabs>
</div>
<app-footer></app-footer>
