<app-menu></app-menu>
<div class="content">

  <div class="tabs">
  <div *ngFor="let y of years" class="tab active">
    {{y}}
  </div>
</div>

  <app-tabs>

    <app-tab tabTitle="Kapitalove vydavky">
      <ng-container *ngFor="let r of rozpocet">
        <app-budget [budget]="r"></app-budget>
      </ng-container>
    </app-tab>

    <app-tab tabTitle="Projekty">
      <ng-container *ngFor="let p of projects">
        <app-project [project]="p"></app-project>
      </ng-container>
    </app-tab>

    <app-tab tabTitle="Granty">
      <ng-container *ngFor="let g of grants">
        <app-project [project]="g"></app-project>
      </ng-container>
    </app-tab>

  </app-tabs>
</div>
<app-footer></app-footer>
