<app-menu></app-menu>
<div class="content">
  <div class="uznesenie-filter">
    <strong>Filter</strong>
    <app-filter [filter]="filter" (onFilter)="onFilter($event)"></app-filter>
    <strong>Hladaj</strong>
    <app-search [search]="search" (onSearch)="onSearch($event)"></app-search>
  </div>


  <ng-container *ngFor="let m of meetings">
    <div>
      <a *ngIf="m.loaded == false" (click)="selectMeeting(m)" class="linkable">Načítať uznesenia zo zasadnutia dňa {{m.meeting.date}}</a>
      <h2 *ngIf="m.loaded == true">Uznesenie {{m.meeting.date}}</h2>
      <ng-container *ngFor="let u of m.fResolutions">
          <app-uznesenie [uznesenie]="u"></app-uznesenie>
        </ng-container>
    </div>
  </ng-container>
</div>
<app-footer></app-footer>
