<ng-container *ngFor="let office of poslanec.officesView">
  <div [class.mutted]="office.to != null" class="card-detail-item">
    <i class="{{office.office.icon}} fa-2x"></i>
    <div class="card-detail-item-strong">
      <div><strong>{{office.office.name}}</strong></div>
      <div class="description">{{office.council.name}}</div>
      <div class="description" *ngIf="office.to != null"><small>{{office.from}}/{{office.to}}</small></div>
    </div>
    <div>
      <div *ngIf="office.election">{{office.election.votes}} hlasov <small>( {{office.election.party}} )</small></div>
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let deputy of poslanec.deputiesView">
  <div [class.mutted]="deputy.to != null" class="card-detail-item">
    <i class="fas fa-chess-pawn fa-2x"></i>
    <div class="card-detail-item-strong">
      <div><strong>{{deputy.council.title}}</strong></div>
      <div class="description">{{deputy.council.name}}</div>
      <div class="description" *ngIf="deputy.to != null"><small>{{deputy.from}}/{{deputy.to}}</small></div>
    </div>
    <div>
      <div *ngIf="deputy.election">{{deputy.election.votes}} hlasov <small>( {{deputy.election.party}} )</small></div>
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let commission of poslanec.commissionsView">
  <div [class.mutted]="commission.to != null" class="card-detail-item">
    <i class="fas fa-chess-pawn fa-2x"></i>
    <div class="card-detail-item-strong">
      <div><strong><span *ngIf="commission.chairman">Predseda </span> {{commission.commission.name}}</strong></div>
      <div class="description">{{commission.council.name}}</div>
      <div class="description" *ngIf="commission.to != null"><small>{{commission.from}}/{{commission.to}}</small></div>
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let department of poslanec.departmentsView">
  <div [class.mutted]="department.to != null" class="card-detail-item">
    <i class="{{department.role.icon}} fa-2x"></i>
    <div class="card-detail-item-strong">
      <div><strong>{{department.role.name}}</strong></div>
      <div class="description">{{department.department.name}}</div>
      <div class="description" *ngIf="department.to != null"><small>{{department.from}}/{{department.to}}</small></div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="resolutions?.length > 0">
  <h3>Predložené návrhy</h3>
  <ng-container *ngFor="let r of resolutions">
    <app-uznesenie [uznesenie]="r"></app-uznesenie>
  </ng-container>
</ng-container>