<ng-container *ngFor="let office of poslanec.officesView">
  <div class="card-detail-item">
    <i class="{{office.office.icon}} fa-2x"></i>
    <div>
      <div><strong>{{office.office.name}}</strong></div>
      <div>{{office.council.name}}</div>
    </div>
    <div>
      <div *ngIf="office.election">{{office.election.votes}} hlasov <small>( {{office.election.party}} )</small></div>
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let deputy of poslanec.deputiesView">
  <div [class.mutted]="deputy.to != null" class="card-detail-item">
    <i class="fas fa-chess-pawn fa-2x"></i>
    <div>
      <div><strong>{{deputy.council.title}}</strong></div>
      <div>{{deputy.council.name}}</div>
      <div *ngIf="deputy.to != null"><small>{{deputy.from}}/{{deputy.to}}</small></div>
    </div>
    <div>
      <div *ngIf="deputy.election">{{deputy.election.votes}} hlasov <small>( {{deputy.election.party}} )</small></div>
    </div>
  </div>
</ng-container>
<ng-container *ngFor="let commission of poslanec.commissionsView">
    <div class="card-detail-item">
      <i class="fas fa-chess-pawn fa-2x"></i>
      <div>
        <div><strong><span *ngIf="commission.chairman">Predseda </span> {{commission.commission.name}}</strong></div>
        <div>{{commission.council.name}}</div>
      </div>
    </div>
  </ng-container>
<ng-container *ngFor="let department of poslanec.departmentsView">
  <div class="card-detail-item">
    <i class="{{department.role.icon}} fa-2x"></i>
    <div>
      <div><strong>{{department.role.name}}</strong></div>
      <div>{{department.department.name}}</div>
    </div>
  </div>
</ng-container>
