<div class="intro">
  <div class="intro-header">
    <h1>Samospráva.info</h1>
  </div>
  <div class="intro-abstract">
      <h1>Pre väčšinu ľudí predstavuje samospráva najbližší dotyk s politikou. Miestni politici ovplyvňujú to, ako sa rozvíja výstavba vo vašom okolí, v akom stave sú cesty, aké školy navštevujú naše deti, kde sa rúbu stromy či koľko zaplatíte na daniach z nehnuteľností a za psa.</h1>
    </div>
  <div class="intro-cards">
    <a class="intro-item" routerLink="/detva">
      <h1>Detva</h1>
    </a>
    <a class="intro-item" routerLink="/petrzalka">
      <h1>Petržalka</h1>
    </a>
  </div>
</div>
