<div class="intro">
  <div class="intro-header">
    <h1>Samospráva.info</h1>
  </div>
  <div class="intro-abstract">
    <h1>Pre väčšinu ľudí predstavuje samospráva najbližší dotyk s politikou. Miestni politici ovplyvňujú to, ako sa
      rozvíja výstavba vo vašom okolí, v akom stave sú cesty, aké školy navštevujú naše deti, kde sa rúbu stromy či
      koľko zaplatíte na daniach z nehnuteľností a za psa.</h1>
  </div>
  <div class="intro-cards">
    <div class="intro-item">
      <a routerLink="/detva">
        <h1>Detva</h1>
      </a>
      <a href="{{detva.fb.link}}" target="blank" class="linkable"><i class="fab fa-facebook-square"></i>{{detva.fb.title}}</a>
    </div>
    <div class="intro-item">
      <a routerLink="/petrzalka">
        <h1>Petržalka</h1>
      </a>
      <a href="{{petrzalka.fb.link}}" target="blank" class="linkable"><i class="fab fa-facebook-square"></i>{{petrzalka.fb.title}}</a>
    </div>
  </div>
</div>
<div class="footer">
  Peter Fridrich @ <a href="https://frido.github.io/government-page/" class="linkable" target="blank">Samospráva</a>
</div>