//$primary-color: #6200EE;
$primary-color: #003459;
$secondary-color: #00A8E8;
$background: #FFFFFF;

$background-opened: $primary-color;
$background-hover: rgba( $background-opened, .05 );
$background-footer: rgba($primary-color, 1);
$background-tag: $background;
$surface: $background;
$text-color: rgba(0, 0, 0, .87);
$small-color: rgba(0, 0, 0, .5);
$disable-color: rgba(0, 0, 0, .25);
$color-hover: $text-color;
$color-opened: $background;
$border-radius: 4px;
$margin: 15px;
$margin-content: 40px;
$poslanec-za: #C8E6C9;
$poslanec-proti: #FFCDD2;
$poslanec-predkladatel: #FFF9C4;



body {
  background: $background;
}

.fa, .far, .fas {
  color: $secondary-color;
}

.card-detail-item {
  strong {
    color: $secondary-color;
  }
}

%card {
    border-radius: $border-radius;
    border: solid 1px $primary-color;
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

%shadow-bottom {
    // box-shadow: 0 2px 2px -2px $primary-color;
    border: solid 1px $primary-color;
}

%shadow-top {
    // box-shadow: 0 -2px 2px -2px $primary-color;
    border: solid 1px $primary-color;
}
