<div class="card-detail-item">
    <i class="fas fa-puzzle-piece fa-2x"></i>
    <div>
        <strong>Program</strong>
        <div class="description">
            {{budget.program}}
        </div>
    </div>
</div>

<div class="card-detail-item">
    <i class="fas fa-pen-nib fa-2x"></i>
    <div>
        <strong>Popis</strong>
        <div class="description">
            {{budget.comment}}
        </div>
    </div>
</div>

<div *ngFor="let year of yearsList" class="card-detail-item">
        <i class="fas fa-backward fa-2x"></i>
        <div>
            <strong>{{year}}</strong>
            <div *ngFor="let budgetPast of budgetMap.get(year)" class="description">
                <em>{{budgetPast.value | currency:'€'}}</em> - {{budgetPast.title}}
            </div>
        </div>
    
</div>